.mainApp {
  text-align: center;
  width: 100vw;
}

.header {
  margin-left: 35px;
  padding-right: 10px;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.nav {
  width: 15vw;
  display: flex;
  justify-content: space-between;
}

.bigMap {
  margin: 0 auto;
  height: 50vh;
  width: 50vw;
  /* box-shadow: 5px 10px, 10px; */
  box-shadow: 0px 0px 19px -16px rgba(0,0,0,1);
  border-radius:1%;
}

#map {
  height: 100%;
  width: 100%;
}

.body {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.filter {
  border: 1px solid black;
  width: 15%;
}

.noLinkLink {
  text-decoration: none;
  color: black;
}

.allRoutes {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: ; */
}

.route {
  margin-left:10px;
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid black;
  width: 250px;
  height: 250px;
}

.vars {
  display: flex;
  justify-content: space-between;
  margin: 0 autol
}
