.App {
  text-align: center;
}

.header {
  margin-left: 35px;
  padding-right: 10px;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.nav {
  width: 15vw;
  display: flex;
  justify-content: space-between;
}

.filter {
border: 1px solid black;
width: 15%;
}

.bigMap {
  height: 50vh;
  width: 75vw;
}

#map {
  height: 100px;
  width: 100px;
}
