.mainApp {
  text-align: center;
  width: 100vw;
}

.header {
  margin-left: 35px;
  padding-right: 10px;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.nav {
  width: 15vw;
  display: flex;
  justify-content: space-between;
}

.bigMap {
  height: 50vh;
  width: 75vw;
}

#map {
  height: 100px;
  width: 100px;
}

.body {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.filter {
  border: 1px solid black;
  width: 15%;
}

.allRoutes {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: ; */
}

.route {
  margin-left:10px;
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid black;
  width: 250px;
  height: 250px;
}
